# TP : Traitement des données à l’aide de Python  
  
  

La librairie **Pandas** de Python permet de manipuler efficacement des collections. Elle est à la fois simple à utiliser et assez rapide pour traiter de grosses collections.
L'objet qui stocke une table est appelé « **DataFrame** » dans Pandas.
Nous allons travailler avec le fichier « BaseDonneesYoutubeurs.csv »

### 1.	Observer les premières lignes
![title](img/capture.png)

#### a.	Que contient la première ligne du fichier « BaseDonneesYoutubeurs.csv » ?
*Les descipteurs*

#### b.	Que contiennent les autres lignes
*Les données*

#### c.	Complétez le tableau ci-dessous :
|          Descripteur          	| Exemple de valeur associée 	|
|:-----------------------------:	|:--------------------------:	|
| Numéro identification YOUTUBE 	| 117792                     	|
| Date création chaîne          	| 2007                       	|
| Nom de la chaîne              	| Cyprien                    	|
| Nombre d'abonnés              	| 12893747                   	|
| Nombre de vues                	| 2155717489                 	|
| Pays                          	| France                     	|
| Thème                         	| Comedy                     	|

### 2.	Charger les données

In [3]:
import pandas
from pandas import read_csv

yt = read_csv('BaseDonneesYoutubeurs.csv', sep=';', skiprows=1, names=[
                   'id', 'date_creation', 'nom', 'nb_abonnes', 'nb_vues', 'pays', 'theme'])

Les 2 premières lignes permettent d’importer la librairie Pandas et la fonction read_csv.
La ligne suivante charge les données dans une table à partir du fichier grâce à la fonction *read_csv* de Pandas dont voici la syntaxe :
`nom_table= read_csv(chemin_du_fichier.csv, sep=',', ...)`  
**sep** =	indique que le séparateur est une virgule  ou un point-virgule.  
**skiprows** = x indique qu'on souhaite sauter les x premières lignes.  
**names** = liste_de_noms indique qu'on va donner nous-même le nom des descripteurs.   
On aurait pu les récupérer dans la 1ère ligne du fichier, mais ces noms très longs seraient peu pratiques.  
Nous avons donc chargé les données dans une table « yt » en renommant les descripteurs : id, date_creation, nom, nb_abonnes, nb_vues, pays et theme.Voici quelques éléments de syntaxe pour manipuler les DataFrames.  

Voici quelques éléments de syntaxe pour manipuler les DataFrames.  
**Afficher un Dataframe** : `print(yt.to_string())`

In [ ]:
print(yt.to_string())

**Sélectionner les 2 premières lignes du DataFrame « yt » :** `yt.head(2)`            
On peut la combiner *print* pour afficher les 2 premières lignes de notre DataFrame.

In [ ]:
print(yt.head(2))

**Sélectionner que 2 colonnes particulières :** `yt[['nom','nb_abonnes']]`

In [ ]:
print(yt[['nom','nb_abonnes']])

**Sélectionner que les lignes pour lesquelles le theme est Comedy :** `yt[yt['theme'] == 'Comedy']`

In [ ]:
print(yt[yt['theme'] == 'Comedy'])

**Afficher le DataFrame trié par nombre d’abonnés décroissant :** `yt.sort_values('nb_abonnes' ,ascending=False)`

In [ ]:
print(yt.sort_values('nb_abonnes' ,ascending=False))

*Remarque : il est intéressant de noter que les quatre premières instructions ci-dessus prennent en entrée un objet de type DataFrame et renvoient un nouvel objet DataFrame. On peut donc stocker dans une variable le résultat et appliquer de nouvelles opérations au DataFrame ainsi obtenu*

### 3.	Traiter les données
a)	Complétez le programme pour trier la table « yt » par nombre de vues décroissant et affecter le résultat à une nouvelle table « tri » puis afficher les noms, nombre de vue et pays des 3 premiers en nombre de vues.

In [16]:
tri = yt.sort_values('nb_vues', ascending=False)
print(tri[['nom', 'nb_vues', 'pays']].head(3))

          nom      nb_vues   pays
58   T-Series  64551709914  India
23        WWE  30629808113    USA
28  SET India  30308211069  India

b)	Sélectionnez le résultat ne correspondant qu’aux youtubeurs français et affectez ce résultat à une nouvelle table « france » puis afficher les nom et nombre de vue des 3 premiers en nombre de vues.

In [17]:
france = tri[tri['pays'] == 'France']
print(france[['nom', 'nb_vues']].head(3))

         nom     nb_vues
14      LEGO  8994894938
55  SQUEEZIE  5936713423
0    Cyprien  2155717489

c)	Faire de même pour les youtubeurs américains à l’aide d’une table « usa ».

In [18]:
usa = tri[tri['pays'] == 'USA']
print(usa[['nom', 'nb_vues']].head(3))

                         nom      nb_vues
23                       WWE  30629808113
82           Ryan ToysReview  28045310042
48  Cocomelon Nursery Rhymes  22480849104